.ChatApp
{
    width: 100%;
    height: 250px;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-y: scroll; /* Hiển thị thanh cuộn */

}
.inputValue input
{
    padding:5px;
    border-radius: 10px;
    width: 70%;
    border: none;
    
}
.inputValue button
{
    width: 30%;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(39, 185, 204);
    color: white;
    border: none;
    
}
.Main_ChatApp
{
    border: 1px solid black;
    width: 300px;
}
.inputValue
{
  
}
.myChatbox
{
    background-color: #0099FF;
    color: white;
    overflow-wrap: break-word;
    overflow-wrap: break-word; 

    margin: 10px;
    max-width: 80%;
    border-radius: 10px;
    padding:10px;
    display: inline-block;
}

.box_right
{
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Căn phía bên phải */
    max-width: 80%;
    height: auto;
    margin: 0 auto;

}
.box_left
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 80%;
    align-items: center;
    margin: 0 auto;
    height: auto;
}
.guestChatbox
{
    background-color: #ffffff;
    color: rgb(8, 8, 8);

    margin: 10px;
    max-width: 70%;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    text-align: left;
}