.main_layout,
.thongtin_coban {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.setting_property
{
    --propertycolor:rgb(3, 3, 3);
    --border_height_span:.03rem;
}
.layout1 {
    --widthBefore: 1rem
}

.thongtin_coban {
    background-color: white;
    border-radius: 0.3rem;
    width: 60%;
}
.input_property:focus
{
    --propertycolor:red;
}
.property_user,
.layout1 {
    width: 100%;
    position: relative;
    transition: 200ms linear;
    justify-content: space-between;
    border: none;
    display: flex;
    padding: 1rem;



}

.layout1:hover {
    background-color: rgba(197, 186, 186, 0.167);
    --widthBefore: 0rem;
}

.setting_property {

    position: absolute;
    background-color: white;
    border-radius: 0.4rem;
    z-index: 99;
    height: 30%;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding:0 1.2rem

}

.button_notifi {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_notifi svg {
    fill: rgb(3, 3, 3);
    transition: 200ms;
    height: 20px;
    width: 20px;


}

.button_notifi:hover {
    color: white;
    background-color: rgba(150, 149, 149, 0.542);
    border-radius: 50%;
    transition: 75ms ease-out;

}
.click_property span
{
    color: rgb(158, 234, 237);
    --border_height_span:0.1rem;
    border-color: rgb(138, 240, 228);
}
.layout_filter {
    background-color: rgba(121, 122, 124, 0.338);
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    z-index: 999;
    inset: 0;
    justify-content: center;
    align-items: center;

}

.thongtin_coban .layout1::before {

    content: "";
    position: absolute;
    transition: 200ms linear;
    inset: 0;
    border-bottom: var(--border_height_span) solid rgba(102, 100, 100, 0.329);
    margin-left: var(--widthBefore);

}
.setting_property button
{
    position: absolute;
    right: 1rem;
    bottom: 0.7rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(157, 160, 160);
    width: 50px;
    color: rgb(99, 98, 98);
    font-weight: 600;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.invaild_ButtonSave
{
    background-color: rgb(150, 233, 241) !important;
    color: white !important; 
}
.div-label {
    height: 3rem;
    width: 100%;
}
.Label_property
{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;

}
.Span_property {
    display: -webkit-box;
    display: -webkit-flex;
    /* display: flex; */
    border-color:var(--propertycolor);
    position: absolute;
    /* top: 0; */
    /* right: 0; */
    left: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100%;
    /* text-align: left; */
    pointer-events: none;
}

.span_left
{
    width: 1rem;
    border-left:  var(--border_height_span) solid var(--propertycolor);
    border-top-left-radius: .3rem    ;
    border-bottom-left-radius: .3rem;
}
.span_left,.span2,.spanWithName
{
    border-top: var(--border_height_span) solid var(--propertycolor) ;
    border-bottom:  var(--border_height_span) solid var(--propertycolor) ;
    
}
.spanWithName
{
    border-top:none ;
    width: 2rem;
}
.span2
{
    border-right:  var(--border_height_span) solid var(--propertycolor);
    flex-grow: 1;
    border-radius: 1rem  var(--propertycolor);
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
.spanChildWithName 
{
    background-color: white;
    position: fixed;
    padding: 0 0.35rem 0 0.35rem;
    font-size: 0.7rem;
    margin-top: -.4rem; 
}

.input_property
{
    margin-left: 1rem;
    border:none;
}
