.container_main {
    border: 1px solid;
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
table ,th,td{
    font-family: arial, sans-serif;
    border: 1px solid black;
  }

 
.container_main ul {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.MonHocCombobox_layout {
    display: flex;
    width: 20vw;
    flex-direction: column;
}

.ChiTietLopHoc {
    width: 60%;
}

.dangki_label,.Trunglich {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trunglich_input
{
    cursor: not-allowed;
    opacity: 0.5;

}
.head_table 
{
    line-height: 1.2em;
    color: white;
    background-color: gray;
}
tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;  }
p{
    margin:0
}
.monhoctrunglich
{
    padding: 1rem;
    position: absolute;
    
    display: inline-block;
    transition: 500ms linear;
    margin:0.5rem;

    background-color: rgb(255, 255, 255);
    color: rgb(49, 221, 207);
    font-weight: 700;
}
.activeTrungLich
{
    background-color: #ff9900b9;
}