body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}
/* #root{
  width: 100%;
  height: 100vh;  
  z-index: -50;
  position: absolute;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.avatarImage {
  width: 40px;
  height: 40px;
  border: 1px rgb(173, 167, 167) solid;
  border-radius: 50%;
  
  position: relative;
  background-size: cover;
  background-position: center;
}
.center_ele
{
  display: flex;
    justify-content: center;
    align-items: center;
}
/* .status {
  width: 6px;
  height: 6px;
  border: 2px solid rgb(48, 69, 96);
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  transform: translate(40%, -40%);
  background-color: rgb(33, 34, 35);
} */
.dot {
  border: 1px solid white;
  position: relative;
  z-index: 10;
  margin-left:-10px;
  height: 0.8rem;
  width: 0.8rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.activeOnline
{
  background-color: rgb(33, 150, 9);
}

.Loading_container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;; /* 100% viewport height */
background-color: rgba(247, 237, 237, 0.699);
}

.Loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px rgb(255, 254, 254) solid;
  border-top: solid rgba(8, 8, 8, 0.993) 10px;
  animation: load linear infinite 1s;
 
}
div
{
  display: block;
}
@keyframes load {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }

}

.container_main {
  margin-top: 80px;

}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
  
  
a
{
  color: black;
  
}

/* general styling */



article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article span {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

article span:focus {
  outline: 1px dotted #28666e;
}

article span .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}


.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}


.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
.play_in_cheo {
  padding: 20px 60px 20px 60px;
  background-color: rgba(18, 19, 19, 0.932);
  font-weight: 800;
  border: solid rgba(0, 0, 0, 0);
  font-size: 0.8125rem;
  color: white;
  letter-spacing: 0.15em;
  font-weight: bold;
  text-transform: uppercase;
  clip-path: polygon(0 0, 91% 0, 100% 28%, 100% 100%, 9% 100%, 0 75%);
  transition:all .2s linear

}
.play_in_cheo:hover {
  clip-path: polygon(0 0, 100% 0, 100% 28%, 100% 100%, 0 100%, 0 75%);

}