.column_form {
    display: flex;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.501) !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
}

.form- :focus {

    background-color: white;
}

.username_header {
    color: white;
    font-size: 1rem;
    margin: 0.5rem;
}

.CreateStudentForm input {

    background-color: white;
    color: black;
}

.CreateStudentForm {
    left: 20px;
}

.avatar_field {}

.avatarImage:hover {
    cursor: pointer;
    border: white;
}